In [1]:
import netCDF4
import xarray as xr
import pandas as pd
import numpy as np

In [4]:
#NOTE: File paths should be the same if you are working in the repo.
#Also, I would push these csv's but they're bigger than the max file size lmao
wind = xr.open_dataset('../data/new_raw_data/agg_terraclimate_windspeed_1979_2020.nc')
drought = xr.open_dataset('../data/new_raw_data/Drought_PDSI_1979_2020_GLOBE.nc')
wind.ws.to_dataframe().to_csv('../data/new_raw_data/windspeed.csv')
drought.PDSI.to_dataframe().to_csv('../data/new_raw_data/drought.csv')

In [7]:
wind_df = pd.read_csv('../data/new_raw_data/windspeed.csv')
wind_df = np.round(wind_df, decimals=2)
wind_df.head(5)

         time    lat     lon    ws
0  1979-01-01  40.98 -109.02  2.86
1  1979-01-01  40.98 -108.98  2.84
2  1979-01-01  40.98 -108.94  2.91
3  1979-01-01  40.98 -108.90  2.68
4  1979-01-01  40.98 -108.85  2.56

In [8]:
drought_df = pd.read_csv('../data/new_raw_data/drought.csv')
drought_df = np.round(drought_df, decimals=2)
drought_df.head()

         time    lat     lon  PDSI
0  1979-01-01  36.98 -109.02  4.18
1  1979-01-01  36.98 -108.98  4.15
2  1979-01-01  36.98 -108.94  4.11
3  1979-01-01  36.98 -108.90  4.10
4  1979-01-01  36.98 -108.85  3.94

In [9]:
final_df = pd.merge(wind_df, drought_df, how='outer')
final_df = final_df.dropna()
final_df.head()

             time    lat     lon    ws  PDSI
16224  1979-01-01  36.98 -109.02  2.03  4.18
16225  1979-01-01  36.98 -108.98  2.02  4.15
16226  1979-01-01  36.98 -108.94  2.06  4.11
16227  1979-01-01  36.98 -108.90  2.11  4.10
16228  1979-01-01  36.98 -108.85  2.12  3.94

In [10]:
final_df.shape

(85176, 5)